//======================= import ========================

@import '../../vars';

//=======================================================


//======================= styles ========================

.footer {
    margin-top: 100px;
}

.footer-content {
    padding: 30px;
    background: radial-gradient(at top, rgba(70,193,255, .70), rgba(255,0,95,.50));
}
//=======================================================