/*======================= Import ========================*/

@import '../../vars';

/*=======================================================*/


/*==================== Main styles ======================*/

.header {
    flex: 1 0 auto;
    margin-bottom: 100px;
}

.header-content {
    padding: 18px;
    background: linear-gradient(90deg, rgba(255, 0, 95, .50), rgba(70, 193, 255, .70), rgba(255, 0, 95, .50));
}

/*=======================================================*/