//======================= import ========================

@import '../../vars';

//=======================================================


//======================= styles ========================

.notes-create {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}

.block-form {
    &__content {
        width: 50%;
    }
}

.form-notes {
    width: 100%;
    &__block {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.content-form {
    &__form {
        background: linear-gradient(25deg, rgb(255,255,255), rgba(70,193,255, .72), rgba(255,0,95, .53));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 40px;
        box-shadow: 0px -5px 15px 15px rgba(0,0,0, .20%);
        &_label {
            position: relative;
            font-family: $font-bold;
            font-size: 20px;
            background-color: #ffffff;
            color: rgba(132,171,255,.83);
            text-transform: uppercase;
            border-radius: 10px;
            padding: 10px 50px;
            &:before {
                content: "";
                position: absolute;
                display: inline-block;
                background-color: rgba(132,171,255,.83);
                border-radius: 30px;
                top: 45%;
                left: 15px;
                height: 5px;
                width: 25px;
            }
            &:after {
                content: "";
                position: absolute;
                display: inline-block;
                background-color: rgba(132,171,255,.83);
                border-radius: 30px;
                top: 45%;
                right: 15px;
                height: 5px;
                width: 25px;
            }
        }
        &_text {
            font-family: $font-extra-light;
            font-size: 20px;
            width: 100%;
            resize: none;
            border: none;
            outline-color: rgb(70,193,255);
            border-radius: 20px;
            padding: 20px;
            margin: 40px 0px;
        }
    }
}

.notes-result {
    display: flex;
    justify-content: center;
    width: 100%;
    // margin: 0px 10px;
    &__result {
        width: 50%;
        ._copied {
            opacity: 1;
            pointer-events: all;
            transform: scale(1);
        }
        &_url {
            display: flex;
            justify-content: center;
            font-family: $font-bold;
            font-size: 20px;
            margin: 20px 0px 50px 0px;
            a {
                padding: 20px;
                color: #000000;
                background-color: rgba(223,223,223, .58);
            }
        }
        &_urlNote {
            display: flex;
            justify-content: center;
            margin: 20px 0px 20px 0px;
            input {
                flex: auto;
                text-align: center;
                cursor: pointer;
                font-family: $font-bold;
                font-size: 20px;
                padding: 20px;
                color: #000000;
                background-color: rgba(223,223,223, .58);
                border: none;
                outline: none;
            }    
        }
        &_copy {
            display: flex;
            justify-content: center;
            font-size: 20px;
            font-family: $font-bold;
            margin: 0px 0px 20px 0px;
            overflow: auto;
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s ease;
            transform: scale(0);
            span {
                background-color: rgb(70,193,255);
                color: #ffffff;
                padding: 5px;
                border-radius: 15px;
                
            }
        }
        &_title {
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: $font-bold;
            font-size: 20px;
            text-transform: uppercase;
            margin: 0px 0px 40px 0px;
        }
        &_text {
            text-decoration: underline;
            font-size: 18px;
            line-height: 2;
        }
        &_buttons {
            display: flex;
            justify-content: space-between;
        }
    }
} 

//=======================================================

//======================= media =========================

@media (max-width: 1200px) {
    .notes-result {
        &__result {
            width: 60%;
            &_url {
                a {
                    text-decoration: underline;
                    background: rgb(70,193,255);
                    color:#ffffff;
                }
            }
            &_urlNote {
                input {
                    text-decoration: underline;
                    background: rgb(70,193,255);
                    color:#ffffff;
                } 
            }
        }
    } 
}

@media (max-width: 992px) {
    .block-form {
        &__content {
            width: 60%;
        }
    }

    .notes-result {
        &__result {
            width: 75%;
        }
    } 
}

@media (max-width: 768px) {
    .block-form {
        &__content {
            width: 80%;
        }
    }

    .notes-result {
        &__result {
            width: 85%;
            &_title {
                font-size: 18px;
                
            }
            &_url {
                font-size: 15px;
                a {
                    padding: 10px 5px;
                }   
            }
            &_text {
                font-size: 15px;
            }
            &_urlNote {
                input {
                    font-size: 15px;
                    padding: 10px 5px;
                }
            }
            &_buttons {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .result-buttons {
        &__create {
            margin: 0px 0px 10px 0px;
        }
        &__view {
            margin: 10px 0px 0px 0px;
        }
    }
}

@media (max-width: 576px) {
    .block-form {
        &__content {
            width: 100%;
        }
    }

    .content-form {
        &__form {
            padding: 20px 20px;
            &_label {
                font-size: 17px;
                padding: 10px 10px;
                &:after,&:before {
                    display: none;
                }
            }
        }
    }

    .notes-result {
        &__result {
            width: 100%;
            &_url {
                font-size: 10px;
            }
            &_urlNote {
                input {
                    font-size: 10px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .notes-result {
        &__result {
            &_url {
                a {
                    &:hover {
                        text-decoration: underline;
                        background: rgb(70,193,255);
                        color:#ffffff;
                    }
                }
            }
            &_urlNote {
                input {
                    &:hover {
                        text-decoration: underline;
                        background: rgb(70,193,255);
                        color:#ffffff;
                    }
                } 
            }
        }
    }
}

//=======================================================