//======================= import ========================

@import '../../vars';

//=======================================================


//======================= styles ========================

.main-error {
    display: flex;
    justify-content: center;
    &__block {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.error-info {
    &__title {
        font-family: $font-bold;
        font-size: 40px;
        text-transform: uppercase;
        color: red;
    }
    &__img {
        width: 80%;
        height: 80%;
        margin: 40px 0px;
        &_img {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        font-size: 22px;
        line-height: 1.5;
       
        margin: 0px 0px 40px 0px;
        text-align: center;
        &_text {
            padding: 0px 0px 20px 0px;
            &:last-child {
                font-size: 20px;
                text-decoration: underline;
            }
        }
    }
}

//=======================================================


//======================= media =========================

@media (max-width: 992px) {
    .main-error {
        &__block {
            width: 60%;
        }
    }
}

@media (max-width: 768px) {
    .main-error {
        &__block {
            width: 80%;
        }
    }
}

@media (max-width: 576px) {
    .main-error {
        &__block {
            width: 100%;
        }
    }
    .error-info {
        &__text {
            &_text {
                &:last-child {
                    font-size: 18px;
                }
            }
        }
    }
}
//=======================================================